body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #f3f3f3;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    margin: .6rem 0;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin: 2px;
}

.fa-lg {
    font-size: 2em !important;
}

.main-container {
    margin: 80px auto 40px;
}

/* - Header - */

header {
    background-color: #0b1c26;
    z-index: 2;
    min-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

.fa-d-and-d {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 2.6em;
}

.btn-group {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 130px;
    height: 100%;
}

.btn-danger {
    color: #fff;
    background-color: #0b1c26;
    border: none !important;
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
    margin: 0;
}

.btn-danger:hover,
.btn-danger:active {
    background-color: #023b5d !important;
}

.btn-danger:focus+.dropdown-menu {
    display: block;
}

.dropdown-menu {
    float: right !important;
    left: auto !important;
    right: 0;
}

.homeHeader {
    right: 130px;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 100%;
    /* margin-top: 5px; */
    position: absolute;
    display: inline-block;
    border-right: 1px solid #999999;
    transition: all .2s ease-in-out;
}

.homeHeader:hover {
    background: #023b5d;
}

.homeHeader .fa-home {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.size-md {
    font-size: 1.55em !important;
}

/* --- */

/* - index page - */

.sessionArea {
    text-align: center;
}

.sessionItens {
    position: relative;
    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding: 7% 2% 5%;
    background: #0b1c26;
    color: #fff;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 5px 3px;
    cursor: pointer;
}

.sessionItens:hover {
    background: #023b5d;
}

.sessionItens span {
    display: block;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.4em;
    cursor: pointer;
    min-height: 70px;
}

@media screen and (max-width: 991px) {
    .sessionItens {
        width: 48%
    }
}

/* -- */

/* Title Page breadcrumb */

.titlePageArea {
    margin-bottom: 30px;
    padding: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

.titlePage {
    display: inline-block;
    margin: 0;
    font-size: 2.2rem;
}

nav[aria-label="breadcrumb"] {
    display: inline-block;
    float: right;
}

.notification {
    background: #f6eecb;
    color: #8a7105;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid;
    margin-bottom: 30px;
}

/* --- */

/* - cards registros - */

.pageTitle {
    position: relative;
    display: inline-block;
}

.main-card,
.license-card,
.mini-card {
    position: relative;
    background: #fff;
    border-radius: 0 0 8px 8px;
    margin: 0 auto 30px;
    padding: 25px;
    /* border: 1px solid #0b1c26; */
    -webkit-box-shadow: 0px 0px 5px 2px rgba(233, 236, 239, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(233, 236, 239, 1);
    box-shadow: 0px 0px 5px 2px rgba(233, 236, 239, 1);
}

.headerCard {
    padding: 0;
}

.headerCard .row {
    margin: 0;
}

.menuItens {
    border-radius: 10px 10px 0px 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

.menuItens span {
    color: #0b1c26;
    text-decoration: none !important;
    font-size: 1.1em;
    font-weight: 500;
}

.menuItens:hover {
    background: #006699;
    color: #fff;
    cursor: pointer;
}

.menuItens:hover span {
    color: #fff;
}

.menuSelected {
    background: #0b1c26 !important;
}

.menuSelected span {
    color: #fff !important;
    letter-spacing: 1.1px;
}

.registerForm,
.searchFormArea {
    position: relative;
    width: 100%;
    padding: 5px 0;
}

.registerForm input,
.registerForm textarea,
.searchForm input {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #ccc;
    -moz-box-shadow: 0px 0px 1px #ccc;
    -webkit-box-shadow: 0px 0px 1px #ccc;
    border: 1px solid #ccc;
}

.registerForm label {
    margin: .5rem 0;
    font-weight: 600;
}

.registerForm button[type="submit"] {
    position: relative;
    display: block;
    width: 50%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    margin: 30px auto 0;
    text-align: center;
    cursor: pointer;
}

.registerForm button[value="submit_register"] {
    background: #01a85a;
}

.registerForm button[value="submit_remove"] {
    background: #f66951;
}

/* --- */

/* - cards Venda - */

.nextButton {
    position: relative;
    display: inline-block;
    float: right;
    width: 25%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    margin: 30px auto 0;
    text-align: center;
    cursor: pointer;
    background: #01a85a;
}

.searchForm {
    position: relative;
    width: 100%s;
}

.searchForm input {
    padding: 8px;
    width: 75%;
    border-radius: 4px 0 0 4px;
}

.searchForm button[value="search_button"] {
    position: absolute;
    top: 0;
    border: none;
    background: #023b5d;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
    padding: 9px 20px;
    cursor: pointer;
}

.salesArea {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 500px;
}

.salesTemplate {
    position: absolute;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    float: left;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    margin-left: 100%;
}

.activeSales {
    position: relative;
    margin-left: 0;
    opacity: 1;
}

.inactiveSales {
    margin-left: -100%;
    opacity: 0;
}

/* --- */

/* - cards Licensa - */
.license-card {
    padding: 20px;
    margin: 0 auto 5px;
}

.licenseTitle {
    text-align: center;
    font-size: 1.6em;
    margin: 5px 0 40px;
}

.mini-card {
    margin: 20px 5px 0 5px;
    text-align: center;
}

.mini-card h3{
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* --- */

/* Popup's */

.popupS-close {
    height: 38px !important;
    line-height: 32px !important;
}

.popupS-content {
    padding: 35px;
}

.popupS-content div {
    font-size: 1.5em;
}

.popupS-button-ok {
    width: 100%;
    border: none;
    background: #64a4dc;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 25px;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.popupS-button-ok:hover {
    background: #518cc0;
}